.formdiv{
    display: flex;
    justify-content: center;
    background-color: rgba(9, 9, 56, 0.893);
    height: 100vh;
}

.FormStyle{
    margin-top: 15%;
    width:20rem;
}

.p{
    color: antiquewhite;
}

.button{
    background-color: rgb(203, 14, 14)!important;
}
.buttonlink{
    color: white!important;
}