.formdiv{
    display: flex;
    justify-content: center;
    background-color: rgba(32,32,32);
    height: 100vh;
}

.FormStyle{
    margin-top: 15%;
    width:20rem;
}

.p{
    color: antiquewhite;
}
.buttoncontainer{
    margin-bottom: 0.5rem;
}
.button{
    background-color: rgb(203, 14, 14)!important;
}
.buttonlink{
    color: white!important;
}

