.title{
    margin-bottom: 5px;
}
.overview{
    max-height: calc(100vh - 660px); /* Ana yapının içinde rahatça sığacak bir değer */
    overflow-y:scroll;
}
.info{
    text-align: start;
    width: 45rem;
}
.ratingcontainer{
    display: flex;
    align-items: center;
   
}

.ratinginfo{
    font-size: 16px;
    margin-left: 10px;
}
.ul{
    padding: 0;
}
.genrelist{
    display: inline-block;
    margin-right: 40px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}