.buttondiv{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap:5rem;
}

.logout{
    background-color: rgb(190, 39, 12)!important;
}

.delete{
    background-color: rgb(203, 14, 14)!important;
}
