.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(9, 9, 56, 0.893);
    min-height: 7vh;
    margin-bottom: 1rem;
}

.nav{
    margin: 0 1.8rem;
    color: white;
    text-decoration: none;
}