.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 10vh;
    margin-bottom: 0;
    position: absolute;
    top: 0px;
    left: 4rem;
    z-index: 1;
    background: none;
    
}

.nav{
    margin: 0 1.8rem;
    color: white;
    text-decoration: none;
}