.search{
    background-color: rgba(32, 32, 32, 32);
    height: 100vh;
    color: white;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 100px 0 10px 0;
}

.searchbar{
    width: 30%;
}

.searchbar .ant-btn{
    background-color:rgb(203, 14, 14)!important;
}
   

.alert{
    width: fit-content;
    margin-top: 0.5rem;
}