.search{
 height: 100vh;  
 color: white;
 text-align: start;
}

.container{
    margin: 0 auto;
    width: 100vw;
}
.searchbar{
    margin:0 auto;
    padding-top: 8%;
    margin-left: 6rem;
    width: fit-content;
}
.searchbar .ant-btn{
    background-color:rgb(203, 14, 14)!important;
}
