.search{
    background-color: rgba(32, 32, 32, 32);
    height: 100vh;
    color: white;
    text-align: start;
}
.container{
    padding: 100px 20px 10px 30px;
}

.searchbar{
    width: 30%;
    margin-left: 7rem;
}

.searchbar .ant-btn{
    background-color:rgb(203, 14, 14)!important;
}
   

.alert{
    width: fit-content;
    margin-left: 7rem;
    margin-top: 0.5rem;
}