.formdiv{
    background-color: rgba(32,32,32);
    display: flex;
    justify-content: center;
}

.form{
    width:40%;
}
.p{
    color: antiquewhite;
}
.buttoncontainer{
    margin-bottom: 0.5rem;
}
.button{
    margin-top: 2rem;
    background-color: rgb(245, 54, 54)!important;
}
.buttonlink{
    color: white!important;
}

[title="Change username"] {
    color: white !important;
  }

[title="Change password"] {
    color: white !important;
  }
  
  